$left-width: 20%;

.left-panel {
	position: absolute;
	left: 0;
	width: $left-width;
	top: 0;
	bottom: 0;

	display: flex;
	flex-direction: column;

	padding: 10px;

	>* {
		margin-bottom: 10px;
	}
}

retro-lanes {
	position: absolute;
	left: $left-width;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 10px;
}