$left-width: 20%;
$header-height: 0; //44px;
$log: 200px;

* {
	color: #343a40
}

.room-header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: $header-height;
}

.left-panel {
	position: absolute;
	left: 0;
	width: $left-width;
	top: $header-height;
	bottom: 0;
}

.left-panel-content {
	display: flex;
	flex-direction: column;

	padding: 10px;
}

retro-lanes {
	position: absolute;
	left: $left-width;
	right: 0;
	top: $header-height;
	bottom: 0;
	padding: 10px;
	padding-bottom: 0;
}

room-log {
	max-height: 300px;
	overflow: auto;
}
