:host {
	max-height: 100%;
	height: auto;
	width: 100%;
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	white-space: pre-wrap;
	bottom: 0;
	display: flex;
	flex-direction: column;

	.message {
		display: flex;
		margin-top: 6px;
		margin-right: 10px;
		text-align: end;
		flex-direction: column;
	}

	.message-text {
		width: 100%;
		color: #666666;
		font-size: 13px;
	}

	.message-time {
		width: 100%;
		color: #666666;
		opacity: 0.5;
		font-size: 10px;
	}
}