
$header: 56px;
$footer: 60px; 
header {
	position: absolute;
	top: 0;
	height: $header;
	width: 100%;

	-webkit-box-shadow: 3px 3px 3px 1px #343a4069;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 3px 3px 3px 1px #343a4069;  /* Firefox 3.5 - 3.6 */
	box-shadow: 3px 3px 3px 1px #343a4069;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
main {
	position: absolute;
	top: $header;
	bottom: $footer;
	overflow: auto;
	width: 100%;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: $footer;
	line-height: $footer; /* Vertically center the text there */
	background-color: #f5f5f5;
	-webkit-box-shadow: 0px -4px 5px 0px #f5f5f56e;
	-moz-box-shadow: 0px -4px 5px 0px#f5f5f56e;
	box-shadow: 0px -4px 5px 0px #f5f5f56e;
}

