<div class="message-container" [class.view-mode]="viewMode">
	<ng-container *ngIf="!editing" [ngSwitch]="message.opened || isMyMessage()">
		<div *ngSwitchCase="true" [class.my-message]="isMyMessage()"
			[ngClass]="{'my-message': isMyMessage(), masked: !message.opened}">
			<markdown [data]="message.text"></markdown>
			<div class="message-footer d-flex flex-row justify-content-between">
				<div class="actions d-flex flex-nowrap align-self-center">
					<mat-icon *ngIf="message.opened && viewMode"
						[inline]="true" 
						[class.clickable]="!isMyMessage()"
						(click)="like()">
						thumb_up
					</mat-icon>
					<mat-icon *ngIf="message.opened && viewMode"
						[inline]="true" 
						class="clickable"
						(click)="createAction()">
						assignment_turned_in
					</mat-icon>
				</div>
				<div class="author align-self-center" [class.text-primary]="isMyMessage()">{{message.authorName}}</div>
			</div>
			<div class="overlay hidden-mask" *ngIf="!message.opened">
				<mat-icon [inline]="true" 
					[class.clickable]="viewMode"
					(click)="showMessage()">visibility</mat-icon>
			</div>
			<div class="overlay edit-indicator"
				*ngIf="isMyMessage()"
				(click)="enterEdit()"
				matTooltip="Click to edit">
				<!-- <mat-icon [inline]="true" class="text-right">create</mat-icon> -->
			</div>
		</div>
		<div *ngSwitchDefault class="d-flex flex-column">
			<markdown class="bullshit-message haha" [data]="randomMessage"></markdown>
			<div class="message-footer d-flex flex-row justify-content-end">
				<div class="author align-self-center" [class.text-primary]="isMyMessage()">{{message.authorName}}</div>
			</div>
			<div class="overlay hidden-mask">
				<mat-icon [inline]="true"
					[class.clickable]="viewMode"
					(click)="showMessage()">
					visibility_off
				</mat-icon>
			</div>
		</div>
	</ng-container>
	<resizeable-textarea *ngIf="editing"
		label="Ctrl + Enter to Save. Clear text to Delete"
		[(ngModel)]="tempMessage"
		(blurHandler)="updateMessage()"
		(save)="updateMessage()"
		(cancel)="editing = false">
	</resizeable-textarea>
</div>