
.vote {
	font-size: 6vh;
	justify-self: end;
	align-self: center;
	width: 100%;
	text-align: right;
	padding-right: 24px;
	border-right: 1px solid;
}

.count {
	width: 100%;
	height: 100%;
	text-align: right;
	display: flex;
	align-self: center;
	align-items: center;
	justify-self: start;
	padding-left: 24px;
	
	.count-item {
		width: 4vh;
		height: 4vh;
		margin-right: 1vh;
		border: 1px solid transparent;

		complication-indicator {
			width: 100%;
			height: 100%;
		}
	}
}
.result-header {
	&.vote, &.count {
		font-size: 3vh;
		border-bottom: 1px solid;
	}
}
.top-result {
	background-color: #27ff0029;
}
:host {
	padding-top: 32px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}