.area {
	fill:#ffffff;
	fill-opacity:1;
	fill-rule:evenodd;
	stroke:none;
}

.area2 {
	fill:#ffffff;
	fill-opacity:1;
	fill-rule:evenodd;
	stroke:#000000;
	stroke-width:0.509;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	stroke-opacity:1;
	stroke-dasharray:none;
}

.area3 {
	fill:#ffffff;
	fill-opacity:1;
	fill-rule:evenodd;
	stroke:#000000;
	stroke-width:0.509;
	stroke-linecap:square;
	stroke-linejoin:miter;
	stroke-miterlimit:10;
	stroke-opacity:1;
	stroke-dasharray:none
}

.line-round {
	fill:none;
	stroke:#000000;
	stroke-width:0.509;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	stroke-opacity:1;
	stroke-dasharray:none;
}

.line-square {
	fill:none;
	stroke:#000000;
	stroke-width:0.509;
	stroke-linecap:square;
	stroke-linejoin:miter;
	stroke-miterlimit:10;
	stroke-opacity:1;
	stroke-dasharray:none;
}

.line1 {
	fill:#000000;
	fill-opacity:1;
	fill-rule:evenodd;
	stroke:none;
}

.line2 {
	fill:#000000;
	fill-opacity:1;
	fill-rule:evenodd;
	stroke:#000000;
	stroke-width:0.509;
	stroke-linecap:square;
	stroke-linejoin:miter;
	stroke-miterlimit:10;
	stroke-opacity:1;
	stroke-dasharray:none;
}