<div *ngFor="let card of cards" 
	class="vote-card"
	[hidden]="isCardHidden(card)">
	<div class="card-button btn" 
		matRipple
		[ngClass]="{'selected': isMyVote(card)}"
		[style.background-color]="cardColors[card] | shade: 0.2"
		[style.border-color]="cardColors[card] | shade: -0.4"
		(click)="selectCard(card)"
		[ngSwitch]="card">
		<div *ngSwitchCase="'none'" class="font-white">?</div>
		<div *ngSwitchCase="'wait'" class="wait-container">
			<app-self-building-square-spinner
				class="wait-spinner"
				[animationDuration]="6000"
				[size]="40"
				[color]="'#ffffff'"
				></app-self-building-square-spinner>
			<span class="wait-subtitle">Still thinking...</span>
		</div>
		<div *ngSwitchDefault class="number-card">
			<complication-indicator [complexity]="card"></complication-indicator>
			<div class="card-value">{{card}}</div>
			<!-- <div class="card-value inverse">{{card}}</div> -->
		</div>
	</div>
</div>