<div class="room-header d-flex flex-row bg-secondary p-7">
	<div class="room-link">
		<div class="input-group input-group-sm">
			<input [(ngModel)]="roomUrl" type="text" class="form-control">
			<div class="input-group-append">
				<button ngxClipboard [cbContent]="roomUrl" class="btn btn-icon btn-secondary" title="Copy link">
					<i class="fa fa-copy"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="room-actions d-flex justify-content-center">
		<button class="btn btn-danger btn-sm m-r-36" (click)="resetVotes()">
			Reset <i class="fa fa-eraser"></i>
		</button>
		<button class="btn btn-info btn-sm" (click)="showVotes()">
			Show results <i class="fa fa-eye"></i>
		</button>
	</div>
</div>
<div class="room-players">
	<room-players [state]="roomState"></room-players>
</div>
<div class="room-content" [ngSwitch]="getMode()">
	<div class="room-content-center">
		<room-cards class="room-cards" 
			*ngSwitchCase="'cards'"
			[state]="roomState">
		</room-cards>
		<room-results class="room-results"
			*ngSwitchCase="'results'"
			[state]="roomState">
		</room-results>
		<div *ngSwitchCase="'progress'" class="room-progress-center">
			<hangman-progress [progress]="getProgress()"></hangman-progress>
			<span class="progress-text">Vote in progress...</span>
		</div>
		<div class="loading"
			*ngSwitchCase="'loading'">
			<app-atom-spinner
				[animationDuration]="1000"
				[size]="200"
				[color]="'#007bff'"
			></app-atom-spinner>
		</div>
	</div>
</div>
<div class="room-progress">
	<hangman-progress [progress]="getProgress()"
		[hidden]="!showMiniProgress()"></hangman-progress>
</div>
<!-- <div class="room-log">
		
</div> -->