<div class="room-header d-flex flex-row bg-secondary p-7">
	<div class="room-link">
		<div class="input-group input-group-sm">
			<div class="form-control" contenteditable="false">{{roomUrl}}</div>
			<div class="input-group-append">
				<button ngxClipboard matRipple [cbContent]="roomUrl" class="btn btn-icon btn-secondary" title="Copy link">
					<i class="fa fa-copy"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="room-actions d-flex justify-content-center">
		<button mat-button class="btn btn-dark btn-sm m-r-36" (click)="resetVotes()">
			Reset <i class="fa fa-eraser"></i>
		</button>
		<button mat-button class="btn btn-light btn-sm" (click)="showVotes()">
			Show results <i class="fa fa-eye"></i>
		</button>
	</div>
</div>
<div class="room-players">
	<room-players [state]="roomState"></room-players>
</div>
<div class="room-content" [ngSwitch]="getMode()">
	<div class="room-content-center">
		<room-cards class="room-cards" 
			*ngSwitchCase="'cards'"
			[state]="roomState">
		</room-cards>
		<room-results class="room-results"
			*ngSwitchCase="'results'"
			[state]="roomState">
		</room-results>
		<div *ngSwitchCase="'progress'" class="room-progress-center">
			<progress-indicator
				class="flex-fill" 
				[randomSeed]="roomId" 
				[progress]="getProgress()">
			</progress-indicator>
			<span class="progress-text">Vote in progress...</span>
		</div>
		<div class="loading"
			*ngSwitchCase="'loading'">
			<app-atom-spinner
				[animationDuration]="1000"
				[size]="200"
				color="#3f51b5"
			></app-atom-spinner>
		</div>
	</div>
</div>
<div class="room-progress">
	<progress-indicator
		class="flex-fill" 
		[hidden]="!showMiniProgress()"
		[randomSeed]="roomId" 
		[progress]="getProgress()">
	</progress-indicator>
</div>
<div class="room-log">
	<room-log [state]="roomState"></room-log>
</div>