$header: 44px;
$players: 30%;
$progress: 200px;
$log: 200px;

div {
	//box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.room-header {
	position: absolute;
	top: 0;
	height: $header;
	width: 100%;

	.room-link {
		flex-shrink: 0;
	}
	.room-actions {
		width: 100%;
	}
}

.room-players {
	position: absolute;
	top: $header;
	left: 0;
	width: $players;
	bottom: 0;
}

.room-content {
	position: absolute;
	left: $players;
	top: $header;
	bottom: 0;
	right: $log;

	.room-content-center {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
	}

	.loading {
		display: flex;
		align-self: center;
	}
}

.room-cards {
	position: absolute;
	width: auto;
	height: 100%;
}

.room-results {
	position: absolute;
	width: auto;
}

.room-progress-center {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.room-log {
	position: absolute;
	right: 0;
	width: $log;
	bottom: 0;
	top: $header + $progress;
}

.room-progress {
	position: absolute;
	right: 0;
	width: $log;
	top: $header;
	height: $progress;
}