.st0{fill:#FFFFFF;}
.st1{fill:#000000;}
.st2{fill:none;stroke:#000000;stroke-width:3.25;stroke-linecap:round;stroke-linejoin:round;}
.st3{fill:none;stroke:#000000;stroke-width:3.25;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:4.0158,7.0277;}
.st4{fill:none;stroke:#000000;stroke-width:3.25;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:3.9846,6.973;}
.st5{fill:none;stroke:#000000;stroke-width:3.25;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:4.0344,7.0602;}
.st6{fill:none;stroke:#000000;stroke-width:3.25;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:4,7;}
.st7{fill:none;stroke:#000000;stroke-width:3.25;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:3.9881,6.9792;}
.st8{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st9{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st10{fill:none;stroke:#000000;stroke-width:1.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st11{fill:none;stroke:#000000;stroke-width:2.25;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st12{fill:none;stroke:#000000;stroke-width:2.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st13{fill:none;stroke:#000000;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st14{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st15{fill:none;stroke:#000000;stroke-width:3.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
