<mat-accordion>
	<mat-expansion-panel >
		<mat-expansion-panel-header collapsedHeight="48px" expandedHeight="48px">
			<mat-panel-title>
				Settings
			</mat-panel-title>
		</mat-expansion-panel-header>
		<div class="d-block">
			<mat-form-field>
				<mat-select class="type-selector" placeholder="Type" 
					disableOptionCentering 
					[(ngModel)]="state.config.type" 
					(ngModelChange)="changeConfig('type')" name="type">
					<mat-option *ngFor="let item of typeOptions" [value]="item.value"
						[matTooltip]="item.tooltip"
						matTooltipClass="multiline-tooltip"
						matTooltipShowDelay="300"
						[disabled]="item.disabled">
						{{item.text}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="d-block">
			<mat-slide-toggle [(ngModel)]="state.config.slowdowns" 
				(ngModelChange)="changeConfig('slowdowns')"
				class="slowdown-toggle"
				matTooltip="Show a column for things which slow people down">
				Slowdowns lane
			</mat-slide-toggle>
		</div>
		<div class="d-block">
			<mat-slide-toggle [(ngModel)]="state.config.achievements" 
				(ngModelChange)="changeConfig('achievements')"
				class="achievement-toggle"
				matTooltip="Show a column for significant events: releases, victories, discoveries, moments of great teamwork, or anything else that had an impact on the work.
				Recommended to use this once in several months"
				matTooltipClass="multiline-tooltip">
				Achievements lane
			</mat-slide-toggle>
		</div>
	</mat-expansion-panel>
</mat-accordion>
