
<div class="players-list" [ngClass]="{'many-players': state.players.length > 12}">
	<ng-container *ngFor="let user of state.players; let i = index">
		<span class="user-name" 
			[ngClass]="{ 'odd': i %2 == 1, 'text-primary': isMyUser(user) } " 
			[style.background-color]="getDifferenceColor(user.vote)">
			{{user.name}}
		</span>
		<div class="user-vote" 
			[ngSwitch]="isShowVotes()" 
			[ngClass]="{ 'odd': i %2 == 1 } "
			[style.background-color]="getDifferenceColor(user.vote)">
			<div *ngSwitchCase="true">
				<div *ngIf="user.vote !== null" class="vote-number" [style.background-color]="getVoteColor(user.vote)">
					{{isNumber(user.vote) ? user.vote : '?'}}
				</div>
			</div>
			<div *ngSwitchCase="false">
				<div *ngIf="isVoted(user.vote)" class="vote-ready"></div>
				<div *ngIf="isWait(user.vote)" class="vote-wait">
					<app-circles-to-rhumbuses-spinner
						[animationDuration]="1200"
						[circlesNum]="3"
						[circleSize]="9"
						[color]="'#A3ABBD'"
					></app-circles-to-rhumbuses-spinner>
				</div>
			</div>
		</div>
	</ng-container>
</div>
<div class="bottom-list">
	<div class="actions">
		<button class="btn btn-primary" (click)="makePlayer()" [disabled]="isPlayer()">
			I'm Player <i class="fa fa-user"></i>
		</button>
		<button class="btn btn-info" (click)="makeSpectator()" [disabled]="isSpectator()">
			I'm Spectator <i class="fa fa-eye"></i>
		</button>
	</div>
	<div class="players-list">
		<ng-container *ngFor="let user of state.spectators">
			<span class="user-name" [ngClass]="{'text-primary':isMyUser(user)}">{{user.name}}</span>
			<div></div>
		</ng-container>
	</div>
</div>