:host {
	height: 100%;
	display: flex;
	flex-direction: column;

	.players {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.players-list {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.players button {
		height: auto;
	}
	.spectators {
		height: auto;
		display: block;
	}

	.voter {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		.user-name {
			width: 50%;
			text-align: right;
			margin-right: 36px;
		}

		.user-vote {
			width: 100px;
			text-align: right;
		}
	}
}
