
<div class="players-list players" [ngClass]="{'many-players': state.players.length > 12}">
	<ng-container *ngFor="let user of state.players; let i = index">
		<span class="user-name" 
			[ngClass]="{ 'odd': i %2 == 1, 'text-primary': isMyUser(user) } " 
			[@highlight]="!!highlightedPlayers[user.uid] ? 'active' : 'none'"
			[style.background-color]="getDifferenceColor(user.vote)">
			{{user.name}}
		</span>
		<div class="user-vote" 
			[ngSwitch]="isShowVotes()" 
			[ngClass]="{ 'odd': i %2 == 1 } "
			[style.background-color]="getDifferenceColor(user.vote)">
			<div *ngSwitchCase="true" class="vote-container">
				<div *ngIf="user.vote !== null" class="vote-number" [style.background-color]="getVoteColor(user.vote)">
					<i *ngIf="isMyUser(user)"
						title="Less points"
						class="fa fa-minus change-vote clickable" 
						[ngClass]="{'visible': showDecrease(user.vote)}"
						(click)="changeVote(-1)"></i>
					<span>{{isNumber(user.vote) ? user.vote : '?'}}</span>
					<i *ngIf="isMyUser(user)"
						title="More points"
						class="fa fa-plus change-vote clickable"
						[ngClass]="{'visible': showIncrease(user.vote)}"
						(click)="changeVote(1)"></i>
				</div>
			</div>
			<div *ngSwitchCase="false" class="vote-container">
				<div *ngIf="isVoted(user.vote)" class="vote-ready"></div>
			</div>
		</div>
	</ng-container>
</div>
<div class="bottom-list">
	<div class="actions btn-group btn-group-toggle">
		<button class="btn btn-info" 
			(click)="makePlayer()" 
			[class.active]="isPlayer()"
			matRipple>
			Player <i class="fa fa-user"></i>
		</button>
		<button class="btn btn-info"
			(click)="makeSpectator()"
			[class.active]="isSpectator()"
			matRipple>
			Spectator <i class="fa fa-eye"></i>
		</button>
	</div>
	<div class="players-list spectators">
		<ng-container *ngFor="let user of state.spectators">
			<span class="user-name" 
				[@highlight]="user.highlight ? 'active' : 'none'"
				[ngClass]="{'text-primary':isMyUser(user)}">
				{{user.name}}
			</span>
			<div></div>
		</ng-container>
	</div>
</div>