.style0 {
	fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:none
}
.style1 {
	fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.266;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style2 {
	fill:none;stroke:#000000;stroke-width:0.266;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style3 {
	fill:none;stroke:#000000;stroke-width:0.266;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style4 {
	fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none
}
.style5 {
	fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.266;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style6 {
	fill:none;stroke:#ffffff;stroke-width:0.54000002;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style7 {
	fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.36199999;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style8 {
	fill:none;stroke:#ffffff;stroke-width:0.36199999;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style9 {
	fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:0.322;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style10 {
	fill:none;stroke:#ffffff;stroke-width:0.322;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style11 {
	fill:none;stroke:#000000;stroke-width:0.96600002;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style12 {
	fill:#d3d7cf;stroke:#000000;stroke-width:0.96600002;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style13 {
	fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.48100001;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style14 {
	fill:none;stroke:#000000;stroke-width:0.48100001;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style15 {
	fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.48100001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style16 {
	fill:none;stroke:#000000;stroke-width:0.48100001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style17 {
	fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.48100001;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style18 {
	fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.509;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style19 {
	fill:none;stroke:#000000;stroke-width:0.509;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style20 {
	fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.48100001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style21 {
	fill:none;stroke:#ffffff;stroke-width:0.48100001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-opacity:1;stroke-dasharray:none
}
.style-fire {
	stroke-width: 0;
}