<div class="rooms">
	<div class="rooms-header">Choose your destination</div>
	<div class="door"
		*ngFor="let door of doors">
		<div class="porthole">
			<div class="planet">
				<img [src]="door.url">
			</div>
			<div class="glass" *ngIf="!door.glass"></div>
			<img class="glass" *ngIf="door.glass" [src]="'assets/planets/glass/' + door.glass + '.png'">
			<img class="porthole-border clickable" 
				(click)="enterRoom(door.id)"
				[style.transform]="'rotate(' + door.rotation + 'deg)'"
				src="assets/planets/porthole.png">
			<div class="room-button">
				<span class="name metal linear clickable" matRipple (click)="enterRoom(door.id)">{{door.name}}</span>
			</div>
		</div>
	</div>
</div>