/* You can add global styles to this file, and also import other style files */
@import 'scss/spacing';
@import 'scss/variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'scss/metal';
html {
	position: relative;
	min-height: 100%;
}

.clickable {
	cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn[disabled] {
	cursor: default;
}


*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: #ddd;
}

*::-webkit-scrollbar-thumb {
	background: #666; 
}
