<mat-accordion>
	<mat-expansion-panel [expanded]="true">
		<mat-expansion-panel-header collapsedHeight="48px" expandedHeight="48px">
			<mat-panel-title>
				Controls
			</mat-panel-title>
		</mat-expansion-panel-header>

		<mat-button-toggle-group class="mode-selector" [(ngModel)]="state.viewMode" (ngModelChange)="changeMode()">
			<mat-button-toggle [value]="false">
				Write
			</mat-button-toggle>
			<mat-button-toggle [value]="true" >
				Read
			</mat-button-toggle>
		</mat-button-toggle-group>
		
		<div class="pt-2">
			<button mat-button (click)="exportSession()"
				class="p-0"
				matTooltip="Export this session into JSON format">
				Export
			</button>
			<button mat-button (click)="importSession()"
				class="p-0"
				matTooltip="Restore session from file or local storage">
				Import
			</button>
		</div>
	</mat-expansion-panel>
</mat-accordion>